
.shop-container{
    width: 100%;
    
}
.product-container{
    margin-left: 9%;
    padding-top: 12%;
    margin-right: 5px;
    border-right: 1px solid grey;
    width: 65%;
    float: left;
}
.cart-container{
    padding-top: 10%;
    width: 25%;
    float: right;
    position: fixed;
    right: 0;
}
@media screen and (max-width: 728px){
    .product-container{
        border-right: 1px solid grey;
        width: 50%;
        padding-top: 20%;

    }

    .cart-container{
        width: 36%;
        padding-top: 20%;


    }


}